.Charts-column {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 2% 4.5%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  transition: background-color 3ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.Charts-title {
  font-size: 20px;
}

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 75px;
  height: 400px;
  background-color: #fff;
}

/*@media (min-width: 992px) {
  .CurrencyStatsItem-column {
    width: 80%;
  }
}*/
